<nav class="navbar navbar-light mb-5">
  <a class="navbar-brand" href="/"><img src="/assets/aquarae-logo.jpg" width="200"/></a>
  <div class="navbar-expand mr-auto">
    <nav class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/irrigation" routerLinkActive="active">Irrigation</a>
      <a class="nav-item nav-link" routerLink="/agriculture" routerLinkActive="active">Agriculture Solutions</a>
      <a class="nav-item nav-link" routerLink="/vineyard" routerLinkActive="active">Vineyard Solutions</a>
    </nav>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/bownie" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/xyglo" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@xyglo" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/richard-bown-a0762b2/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
